body { background: #193402; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 44px; display: flex; }
.block-shipping-0 { color: #352793; font-size: 17px; margin-bottom: 5px; }
.block-logger-1 { color: #7964d4; font-size: 16px; margin-bottom: 5px; }
.block-database-2 { color: #361d64; font-size: 19px; margin-bottom: 5px; }
.block-helper-3 { color: #ad4d3b; font-size: 21px; margin-bottom: 5px; }
.block-notify-4 { color: #d93aab; font-size: 12px; margin-bottom: 5px; }